{% extends "base.html" %}
{% load i18n %}
{% load static compile_static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans "Your Dashboard" %}{% endblock %}
{% block description %}{% endblock description %}
{% block body_class %}provider-dashboard{% endblock body_class %}
{% block header_class %}navbar-fixed{% endblock header_class %}
{% block extra_css %}
  <link href="{% static 'less/provider_dashboard.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_KEY }}&libraries=places"></script>
  {% render_bundle 'experience' 'js' %}
{% endblock extra_js %}

{% block content %}

  <div class="main">

    <div class="container">
      <nav class="crumbs">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
            <a href="{% url 'users:dashboard' %}" class="breadcrumb">Dashboard</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      {% include 'users/inc/provider_side_nav.html' %}

      <div class="row">

        <!-- Profile -->
        <div class="col l4 m6 s12">
          <div class="card profile-card">
            <div class="card-image">
              <img src="{% static 'images/user-bg.jpg' %}">
              <span class="card-title valign-wrapper">
                <i class="material-icons left">face</i> {{ user.get_full_name }}
              </span>
              <a
                href="{% url 'users:settings' %}"
                class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
                data-position="top"
                data-delay="50"
                data-tooltip="Edit your settings"
              >
                <i class="material-icons">build</i>
              </a>
            </div>
            <div class="card-content">
              <p class="valign-wrapper">
                <i class="material-icons left">mail</i>
                {{ user.email }}
              </p>
              <br/>
              <p class="valign-wrapper">
                <i class="material-icons left">phone</i>
                {% if user.phone %}{{ user.phone }}{% else %}Not Provided{% endif %}
              </p>
            </div>
          </div>
        </div>

        <!-- Experiences -->
        <div class="col l4 m6 s12">
          <div class="card experiences-card">
            <div class="card-image">
              <img src="{% static 'images/experiences-bg.png' %}">
              <span class="card-title valign-wrapper">
                <i class="material-icons left">business_center</i> Experiences
              </span>
              <a
                href="{% url 'experiences:experiences' %}"
                class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
                data-position="top"
                data-delay="50"
                data-tooltip="Manage your experiences"
              >
                <i class="material-icons">build</i>
              </a>
            </div>
            <div class="card-content">
              <p class="valign-wrapper">
                <i class="material-icons left">business_center</i>
                {{ user.experiences.count }} Experiences
              </p>
              <br/>
              <p class="valign-wrapper">
                <i class="material-icons left">thumb_up</i>
                {{ user.total_sold_auctions_by_experience }} Experience{{ user.total_sold_auctions_by_experience|pluralize }} Sold
              </p>
            </div>
          </div>
        </div>

        <!-- Auctions -->
        <div class="col l4 m6 s12">
          <div class="card auctions-card">
            <div class="card-image">
              <img src="{% static 'images/auctions-bg.png' %}">
              <span class="card-title valign-wrapper">
                <i class="material-icons left">shopping_cart</i> Auctions
              </span>
              <a
                href="{% url 'auctions:provider-live-auctions' %}"
                class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
                data-position="top"
                data-delay="50"
                data-tooltip="Manage your auctions"
              >
                <i class="material-icons">build</i>
              </a>
            </div>
            <div class="card-content">
              <p class="valign-wrapper">
                <i class="material-icons left">shopping_cart</i>
                {{ user.live_auctions.count }} Live Auctions
              </p>
              <br/>
              <p class="valign-wrapper">
                <i class="material-icons left">remove_shopping_cart</i>
                {{ user.finished_auctions.count }} Finished Auctions
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content recent-activity">
              <span class="card-title">
                <i class="material-icons left">access_time</i> Recent Activity
              </span>
              <table class="bordered striped">
                <thead>
                  <tr>
                    <th>Event Date</th>
                    <th>Event Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in user.events.all|slice:":50" %}
                    <tr>
                      <td>{{ event.created|date:"H:i, D, j N Y" }}</td>
                      <td>{{ event.get_log_message|safe }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td class="center-align" colspan="2">
                        You don't have any recent events right now.
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

