{% load common_tags %}
<div class="input-field col s{% if sm %}{{ sm }}{% else %}12{% endif %} m{% if md %}{{ md }}{% else %}12{% endif %} l{% if lg %}{{ lg }}{% else %}12{% endif %}">
  {% if required %}
    {% if placeholder %}
      {{ field|add_placeholder:placeholder|add_required|add_class:"validate" }}
    {% else %}
      {{ field|add_required|add_class:"validate" }}
    {% endif %}
  {% else %}
    {% if placeholder %}
      {{ field|add_placeholder:placeholder|add_class:"validate" }}
    {% else %}
      {{ field|add_class:"validate" }}
    {% endif %}
  {% endif %}
  {% if not field.field.widget.attrs.hidden %}
    <label
      for="id_{{ field.name }}"
      {% if field.errors %}
        data-error="{{ field.errors.0 }}"
      {% endif %}
    >
      {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}
    </label>
  {% endif %}
</div>

