{% extends "base.html" %}
{% load i18n %}
{% load static compile_static common_tags thumbnail %}
{% load render_bundle from webpack_loader %}
{% block title %}Auction: #{{ auction.id }} - {{ auction.title }}{% endblock %}
{% block description %}{{ auction.description|truncatechars:"160" }}{% endblock description %}
{% block body_class %}auction{% endblock body_class %}
{% block extra_meta %}
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="{{ settings.TWITTER_USERNAME }}" />
  <meta name="twitter:title" content="{{ auction.title }}" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://{{ site.domain }}{{ auction.get_default_image.image.url }}" />
  <meta name="twitter:url" content="https://{{ site.domain }}{{ request.page }}" />

  <meta property="og:url" content="https://{{ site.domain }}{{ request.page }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ auction.title }}" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="https://{{ site.domain }}{{ auction.get_default_image.image.url }}" />
{% endblock extra_meta %}
{% block extra_css %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_KEY }}&libraries=places"></script>
  <link href="{% static 'less/auction.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/public-auction.js' %}"></script>
  {% render_bundle 'vendors' 'js' %}
  {% render_bundle 'gallery' 'js' %}
  {% render_bundle 'guest-auction-widget' 'js' %}
{% endblock extra_js %}

{% block content %}
    <div class="hero-wrap">
      {% include 'inc/desktop_search.html' with colours="white grey-text text-darken-3" %}
      <div
        class="hero"
        style="background-image:url('{{ auction.get_default_image.image.url }}')"
      >
        <div>
          <div>

            <h2>{{ auction.title|title }}</h2>
            <h5>
              <i class="material-icons">location_on</i>
              {{ auction.location }}
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <nav class="crumbs truncate">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
            <a href="{% url 'browse:search-results' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="breadcrumb">
              Find Experiences
            </a>
            <a href="{% url 'auctions:provider-auction' pk=auction.id %}" class="breadcrumb">
              {{ auction.id }}: {{ auction.title }}
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">

      <div class="row orderable-cols">

        <div class="col s12 m8 l8 detail-col">
          <div class="row">
            <div class="col s12 title">

              {% if user == auction.experience.user %}
                {% with id=auction.id|slugify %}
                  {% include 'common/inc/alerts/info.html' with grid="s12" message='To view more details about your auction visit your&nbsp;<a href="'|add:auction.get_provider_absolute_url|add:'">auction detail page</a>.' %}
                {% endwith %}
              {% endif %}

              {% if auction.was_won and user == auction.highest_bid.user %}
                {% with id=auction.id|slugify %}
                  {% include 'common/inc/alerts/info.html' with grid="s12" message='<strong>You won this auction!</strong> To view more details visit your&nbsp;<a href="'|add:auction.get_guest_confirmation_url|add:'">won auctions page</a>.' %}
                {% endwith %}
              {% endif %}

              <h4>{{ auction.title }}</h4>
              <h5>
                <i class="material-icons left">location_on</i>
                {{ auction.location }}
              </h5>
              {% if auction.url %}
                <h6 class="valign-wrapper">
                  <i class="material-icons left">home</i>
                  <a
                    className="tooltipped"
                    href="{{ auction.url }}"
                    target="_blank"
                    data-tooltip="View the homepage for this experience"
                  >
                    {{ auction.url }}
                  </a>
                </h6>
              {% endif %}
            </div>
          </div>

          {% include 'auctions/inc/icon_strapline.html' %}

          <div class="row">
            <div class="col s12">
              <h5>About this Experience</h5>
              {{ auction.description|linebreaks }}
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l6">
              <h5>What's Included</h5>
              <ul>
                {% for inclusion in auction.inclusions.all %}
                  <li style="clear:left;">
                    <i class="material-icons left">check_box</i>
                    {{ inclusion }}
                  </li>
                {% empty %}
                  <li>No Inclusions</li>
                {%  endfor %}
              </ul>
            </div>
            <div class="col s12 m12 l6">
              <h5>What's Not Included</h5>
              <ul>
                {% for exclusion in auction.exclusions.all %}
                  <li style="clear:left;">
                    <i class="material-icons left">check_box_outline_blank</i>
                    {{ exclusion }}
                  </li>
                {% empty %}
                  <li>No Exclusions</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% if auction.terms %}
            <div class="row">
              <div class="col s12">
                <h5>Terms & Conditions</h5>
                {{ auction.terms|linebreaks }}
              </div>
            </div>
          {% endif %}
        </div>
        <div class="col s12 m4 l4 widget-col">
          <div
            id="guest-auction-widget-app"
            data-auction-id="{{ auction.id }}"
            data-title="{{ auction.title }}"
            data-currency-symbol="{{ auction.experience.currency.symbol }}"
            data-current-price="{{ auction.formatted_current_price }}"
            data-actual-price="{{ auction.current_price }}"
            data-bid-count="{{ auction.bids.count }}"
            data-end-date="{{ auction.end_date|date:"c" }}"
            data-user-id="{{ user.id }}"
            data-highest-bidder-id="{{ auction.highest_bid.user.id }}"
            {% if user.is_authenticated %}
              data-authenticated="true"
            {% endif %}
            {% if auction in favourites %}
              data-favourited="true"
            {% endif %}
            {% if settings.DEBUG %}
              data-debug="true"
            {% endif %}
          ></div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h5>Location</h5>
          <div
            id="map"
            data-latitude="{{ auction.coords.x }}"
            data-longitude="{{ auction.coords.y }}"
          ></div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h5>Images</h5>
          <div class="gallery-app">
            {% for image in auction.images.all %}
              <span
                class="hide img-src"
                data-src="{{ image.image.url }}"
                data-thumb="{{ image.image|thumbnail_url:'gallery_thumb' }}"
              />
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

