{% extends "base.html" %}
{% load i18n %}
{% load static compile_static common_tags %}
{% block title %}{% trans "Your Finished Auctions" %}{% endblock %}
{% block description %}View any auctions you have won, you lucky devil.{% endblock description %}
{% block body_class %}provider-auctions{% endblock body_class %}
{% block header_class %}navbar-fixed{% endblock header_class %}
{% block extra_css %}
  <link href="{% static 'less/dashboard.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.5.1/jQuery.print.min.js"></script>
  <script>
    $(function() {
      $('.guest-confirmation-modal .print').click(function() {
        $(this).parents('.modal').find('.printme').print();
      });
      // Open a modal if id provided
      if (window.location.hash && $(window.location.hash)) {
        var el = $(window.location.hash);
        if ($(el).hasClass('modal')) {
          $(el).modal('open');
        }
      }
    })
  </script>
{% endblock extra_js %}
{% block content %}
  <div class="main">
    <div class="container">
      <nav class="crumbs">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
            <a href="{% url 'users:dashboard' %}" class="breadcrumb">Dashboard</a>
            <a href="{% url 'auctions:won-auctions' %}" class="breadcrumb">
              Won Auctions
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      {% if user.is_provider %}
        {% include 'users/inc/provider_side_nav.html' %}
      {% else %}
        {% include 'users/inc/guest_side_nav.html' %}
      {% endif %}

      <div class="row">
        <div class="s12">
          <h4>Your Won Auctions</h4>
          <p class="valign-wrapper">
            <i class="material-icons left ">info</i>
            View any auctions you have won
          </p>
        </div>
        <div class="s12">
          <table class="responsive-table striped bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Check In</th>
                <th>Winning Bid</th>
                <th>Ended At</th>
              </tr>
            </thead>
            <tbody>
              {% for auction in object_list %}
                <tr>
                  <td>
                    <a
                      href="#confirm-{{ auction.id }}"
                      class="tooltipped modal-trigger"
                      data-position="top"
                      data-tooltip="View details"
                    >
                      {{ auction.title|title }}
                    </a>
                  </td>
                  <td>{{ auction.location }}</td>
                  <td>{{ auction.check_in|date:"H:i, D, j N Y" }}</td>
                  <td>{{ auction.formatted_current_price }}</td>
                  <td>{{ auction.end_date|date:"H:i, D, j N Y" }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td class="center-align" colspan="5">
                    You haven't won any auctions yet...
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  {% include 'common/inc/pagination.html' %}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% for auction in auctions %}
    {% include 'auctions/inc/guest_confirmation_modal.html' %}
  {% endfor %}
{% endblock content %}

