/**
 * Project less file.
 * Shared across all pages of the site.
 */
html {
  font-family: Raleway, Calibri, Trebuchet, sans-serif;
  color: #424242;
}

nav {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  -webkit-transition: -webkit-box-shadow 500ms linear;
  transition: box-shadow 500ms linear;
  z-index: 2;

  .brand-logo {
    font-weight: bold;
  }

  a {
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;

    &.top {
      font-weight: bold;
    }
  }

  .dropdown-content a {
    color: #424242 !important;
    font-weight: normal;
    &:hover {
      background-color: rgba(0,0,0,0.1) !important;
    }
  }

  &.crumbs {
    box-shadow: none;
    
    a {
      color: #039be5;

      &:last-child {
        color: #757575;
      }

      &:before {
        color: #bdbdbd;
      }
    }

  }
}

.section-header {
  font-weight: bold;
}

.top-align {
  margin-top: 0;
}
