/**
 * Project less file.
 * Shared across all pages of the site.
 */
html {
  font-family: Raleway, Calibri, Trebuchet, sans-serif;
  color: #424242;
}

nav.top {
  a { font-weight: bold; }
}

nav {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  -webkit-transition: -webkit-box-shadow 500ms linear;
  transition: box-shadow 500ms linear;
  z-index: 2;

  .brand-logo {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #desktop-signout-dd {
    min-width: 180px;
  }

  a {
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;

  }
  .dropdown-content a {
    color: #424242 !important;
    font-weight: normal;
    &:hover {
      background-color: rgba(0,0,0,0.1) !important;
    }
  }

  &.crumbs {
    box-shadow: none;
    background-color: transparent;

    a {
      color: #039be5;
      font-size: 14px;

      &:last-child {
        color: #757575;
      }

      &:before {
        color: #bdbdbd;
      }
    }

  }
}

.section-header {
  font-weight: bold;
}

.top-align {
  margin-top: 0;
}
.alert-row {
  margin-bottom: 0;
}

.btn {
  &.facebook {
    background-color: #3B5998;
    margin-bottom: 10px;
    width: 100%;
  }

  &.twitter {
    background-color: #2FC2EF;
    margin-bottom: 10px;
    width: 100%;
  }
}

.toast {
  &.info {
    background-color: #64b5f6;
  }
  &.success {
    background-color: #81c784;
  }
  &.warning {
    background-color: #ff8a65;
  }
  &.error {
    background-color: #ef5350;
  }
}

.side-nav {
  .dropdown-content {
    width: 100%;
  }
  &.fixed {
    .collapsible {
      &>li.active {
        background-color: transparent !important;
      }
    }

    .collapsible-header {
      padding: 0 32px;
    }

    .collapsible-body li a {
      padding: 0 37.5px 0 45px;

    }

    li.active {
      background-color: rgba(0,0,0,0.05) !important;
      a {
        color: rgba(0,0,0,0.87) !important;
      }
    }
  }
}

.search-nav {
  height: auto;
  overflow: visible;
  position: relative;
  margin-bottom: 10px;

  form {
    .input-field input[type=text] {
       padding-left: 4px;
       border-radius: 2px;
    }
  }

  &.hide-on-small-only {
    min-height: 64px;

    .input-field.inline input, .input-field.inline .select-dropdown, .datepicker.picker__input {
      margin-bottom: 0.2rem;
    }

    .row {
      margin-bottom: 0;
    }

    .select-wrapper input.select-dropdown, .datepicker.picker__input {
      height: 2.5rem;
    }

    .datepicker-wrap {
      margin-top: -6px;
    }

    .btn {
      height: 39px;
      margin-left: 20px;
      margin-top: -4px;
      font-weight: bold;
      text-transform: initial;

      .material-icons {
        height: 100%;
        line-height: inherit;
      }
    }

    form {
      .form-text {
        font-weight: bold;
        font-size: 1.2rem;

        &:not(first-child) {
          margin-left: 15px;
        }

        &:not(last-child) {
          margin-right: 5px;
        }
      }

      .search-type {
        width: 140px;
      }

      .search-loc {
        width: 140px;
      }

      .search-pax {
        width: 100px;
      }

      .datepicker-wrap {
        width: 140px;
      }
    }
  }
}

.collapsible-mobile-search {
  margin-top: 0;
  border-top: none;

  .collapsible-body {
    padding: 2rem 0 0 0 ;
  }

  .search-nav {
    border-bottom: 0 !important;

    .btn {
      i {
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

.with-help {
  margin-bottom: 5px !important;

  &.with-help.invalid {
    margin-bottom: 20px !important;
  }
}

.input-field label {
  color: #424242;
  width: 100%;
}

.modal {
  .modal-content {
    &>h4 {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

.input-error {
  font-size: 12px;
  color: rgb(244, 67, 54);
  top: -20px;
  position: relative;
}

button {
  .preloader-wrapper {
    &.small {
      width: 14px;
      height: 14px;
    }
  }
}

.success-check {
  margin-top: 40px;
  margin-bottom: 0;

  i {
    font-size: 125px;
  }
}

@media (max-width: 768px) {
  .orderable-cols {
    display: flex;
    flex-direction: column;
  }
}

.custom-alert, &.alert-row, .white-text {
  .card-content {
    width: 100%;
  }

  a {
    color: #fff;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }
}

.auction-card {
  .card-action {
    padding: 10px;

    a {
      color: #424242 !important;
      text-transform: none !important;
      margin-right: 0 !important;

      &.text-ending-soon {
        color: #ef5350 !important;
      }
    }

    .row {
      margin-bottom: 0;
    }

    h4 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }

    p {
      padding: 0;
      margin: 2px 0 0 0;
    }
  }

  .card-content {
    padding: 10px;

    a {
      color: #424242;
    }

    h5 {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
    }

    .row {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 5px;
      }
    }

    p {
      &>span {
        display: inline-flex;
        vertical-align: middle;
      }
    }

    .material-icons {
      font-size: 20px;

      &.left {
        margin-left: -2px;
        margin-right: 3px;
      }

      &.loc {
        margin-left: -4px;
        margin-right: 2px;
      }

      &.pax {
        margin-right: 4px;
      }
    }
  }
}

.text-ending-soon {
  color: #ef5350 !important;
}

.text-ending-soonish {
  color: #ef6c00;
}

.icon-strapline {
  margin-bottom: 15px;
  color: #616161;

  .icon {
    margin: 1.46rem 0 1.168rem 0;

    font-size: 14px;

    i {
      font-size: 2rem
    }
  }
  .row {
    margin-bottom: 0;
  }

}
