{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block body_class %}password-reset{% endblock body_class %}

{% block inner %}
  <nav class="crumbs">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
        <a href="{% url 'account_login' %}" class="breadcrumb">Sign In</a>
        <a href="{% url 'account_reset_password' %}" class="breadcrumb">Password Reset</a>
      </div>
    </div>
  </nav>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h3>{% trans "Password Reset" %}</h3>
      <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
      </p>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        <div class="row">
          {% include 'common/inc/form_field.html' with required=True placeholder="phileas.fogg@reformclub.co.uk" field=form.email sm=12 %}
          {% csrf_token %}
        </div>
        <div class="row right-align">
          <button
            id="forgot-submit"
            class="btn btn-large waves-effect waves-light green"
            type="submit"
          >
            <i class="material-icons left">check_circle</i>{% trans "Reset My Password" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock inner %}
