{% extends "account/base.html" %}
{% load i18n static compile_static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_css %}
  <link href="{% static 'less/provider_dashboard.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}

{% block inner %}
  <div class="main">
    <div class="container">
      <nav class="crumbs">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
            <a href="{% url 'users:dashboard' %}" class="breadcrumb">Your Dashboard</a>
            <a href="{% url 'users:settings' %}" class="breadcrumb">Your Settings</a>
            <a href="{% url 'account_change_password' %}" class="breadcrumb">Change Password</a>
          </div>
        </div>
      </nav>

      {% if user.is_provider %}
        {% include 'users/inc/provider_side_nav.html' %}
      {% endif %}

      <div class="row">
        <div class="col s12 m6 offset-m3">
          <h4>{% trans "Change Password" %}</h4>
          <br />
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            <div class="row">
              {% include 'common/inc/form_field.html' with required=True field=form.oldpassword sm=12 md=12 lg=12 %}
              {% include 'common/inc/form_field.html' with required=True field=form.password1 sm=12 md=12 lg=12 %}
              {% include 'common/inc/form_field.html' with required=True field=form.password2 sm=12 md=12 lg=12 %}
              {% csrf_token %}
              <div class="row right-align">
                <button
                   id="change-password-submit"
                   class="btn btn-large waves-effect waves-light green"
                   type="submit"
                  >
                  <i class="material-icons left">check_circle</i>{% trans "Change Password" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

