{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
  <nav class="crumbs">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
        <a href="{% url 'account_login' %}" class="breadcrumb">Sign In</a>
        <a href="{% url 'account_reset_password' %}" class="breadcrumb">Password Reset</a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h2>
        {% if token_fail %}
          {% trans "Bad Token" %}
        {% else %}
          {% trans "Change Password" %}
        {% endif %}
      </h2>
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
          {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
          {% endblocktrans %}
        </p>
      {% else %}
        {% if form %}
          <form method="POST" action="{{ action_url }}">
            {% include 'common/inc/form_field.html' with required=True field=form.password1 sm=12 %}
            {% include 'common/inc/form_field.html' with required=True field=form.password2 sm=12 %}
            {% csrf_token %}
            <div class="row right-align">
              <button class="btn btn-large waves-effect waves-light green" type="submit">
                <i class="material-icons left">check_circle</i>{% trans "Reset My Password" %}
              </button>
            </div>
          </form>
        {% else %}
          <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
{% endblock inner %}

      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        <div class="row">
          {% include 'common/inc/form_field.html' with required=True placeholder="phileas.fogg@reformclub.co.uk" field=form.email sm=12 %}
          {% csrf_token %}
        </div>
      </form>
    </div>
