<nav class="grey darken-4 search-nav hide-on-small-only">
  <div class="nav-wrapper">
    <div class="container">
      <div class="center-align">
        <form>
          <div class="row">
            <div class="col s12">
              <span class="form-text">Find me</span>
              <div class="input-field inline">
                <select name="type">
                  <option selected>Hotel Rooms</option>
                </select>
              </div>
              <span class="form-text">in</span>
              <div class="input-field inline">
                <select name="loc">
                  <option selected>London, UK</option>
                </select>
              </div>
              <span class="form-text">for</span>
              <div class="input-field inline">
                <select name="pax">
                  <option>1 Person</option>
                  <option>2 People</option>
                  <option>3 People</option>
                  <option>4 People</option>
                </select>
              </div>
              <span class="form-text">on</span>
              <div class="input-field inline datepicker-wrap">
                <input type="text" class="datepicker" value="Any Dates" name="date"/>
              </div>
              <button class="btn waves-effect waves-light green" type="submit">
                <i class="material-icons">arrow_forward</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
