<div class="row valign-wrapper">
  <div class="col m4 s6">
    <a
      class="waves-effect waves-light btn grey lighten-2 grey-text text-darken-3{% if not page_obj.has_previous %} disabled{% endif %}"
      href="?{% for q,v in request.GET.items %}{% if q != 'page' %}{{ q }}={{ v }}&{% endif %}{% endfor %}page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}"
    >
      <i class="material-icons left">arrow_back</i>Last Page
    </a>
  </div>

  <div class="col m4 s6 center-align hide-on-small-only">
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
  </div>
  <div class="col m4 s6 right-align">
    <a
      class="waves-effect waves-light btn grey lighten-2 grey-text text-darken-3{% if not page_obj.has_next %} disabled{% endif %}"
      href="?{% for q,v in request.GET.items %}{% if q != 'page' %}{{ q }}={{ v }}&{% endif %}{% endfor %}page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
    >
      <i class="material-icons right">arrow_forward</i>Next Page
    </a>
  </div>
</div>
