{% extends "base.html" %}
{% load i18n %}
{% load static compile_static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans "Your Experiences" %}{% endblock %}
{% block description %}{% endblock description %}
{% block body_class %}provider-experience{% endblock body_class %}
{% block header_class %}navbar-fixed{% endblock header_class %}
{% block extra_css %}
  <link href="{% static 'less/provider_dashboard.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_KEY }}&libraries=places"></script>
  {% render_bundle 'experience' 'js' %}
  {% render_bundle 'provider-auction' 'js' %}
{% endblock extra_js %}

{% block content %}

  <div class="main">

    <div class="container">
      <nav class="crumbs">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
            <a href="{% url 'users:dashboard' %}" class="breadcrumb">Dashboard</a>
            <a href="{% url 'experiences:experiences' %}" class="breadcrumb">Experiences</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      {% include 'users/inc/provider_side_nav.html' %}
      <div class="row">
        <div class="s12">
          <h4>Your Experiences</h4>
          <p class="valign-wrapper">
            <i class="material-icons left ">info</i>
            Experiences are the items you sell via auction. Create them once and
            they can be turned into auctions in two clicks.
          </p>
        </div>
        <div class="s12">
          <div
            class="experience-app fixed-action-btn"
            data-modal-id="add-experience-modal"
            data-button-id="add-experience-button"
            data-button-icon="add"
            data-button-text="Add Experience"
            data-button-colour="red"
            data-button-floating="true"
            data-button-fixed="true"
            data-button-large="true"
          ></div>
        </div>

        <div class="s12">
          <table class="responsive-table striped bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Total Sold</th>
                <th>Live Auctions</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for experience in object_list %}
                <tr>
                  <td>{{ experience.title|title }}</td>
                  <td style="max-width:250px">
                    {{ experience.location|title }}
                  </td>
                  <td>TODO</td>
                  <td>TODO</td>
                  <td>
                    <span
                      class="experience-app"
                      data-modal-id="experience-modal-{{ experience.id }}"
                      data-experience-id="{{ experience.id }}"
                      data-button-id="edit-experience-button-{{ experience.id }}"
                      data-button-icon="edit"
                      data-button-text="Edit Experience"
                      data-button-colour="blue lighten-1"
                      data-button-floating="true"
                    ></span>
                    &nbsp;
                    <span
                      class="provider-auction-app"
                      data-modal-id="auction-modal-{{ experience.id }}"
                      data-button-id="add-auction-button-{{ experience.id }}"
                      data-button-icon="add_shopping_cart"
                      data-button-text="Add Auction"
                      data-button-colour="light-blue lighten-1"
                      data-button-floating="true"
                      data-experience-id="{{ experience.id }}"
                    ></span>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td class="center-align" colspan="5">
                    You don't have any experiences set up yet...
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <div class="row valign-wrapper">
                    <div class="col m4 s6">
                      <a
                        class="waves-effect waves-light btn grey lighten-2 grey-text text-darken-3{% if not page_obj.has_previous %} disabled{% endif %}"
                        href="{% url 'experiences:experiences' %}?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}"
                      >
                        <i class="material-icons left">arrow_back</i>Last Page
                      </a>
                    </div>
                    <div class="col m4 s6 center-align hide-on-small-only">
                      <span>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                      </span>
                    </div>
                    <div class="col m4 s6 right-align">
                      <a
                        class="waves-effect waves-light btn grey lighten-2 grey-text text-darken-3{% if not page_obj.has_next %} disabled{% endif %}"
                        href="{% url 'experiences:experiences' %}?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
                      >
                        <i class="material-icons right">arrow_forward</i>Next Page
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

