<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content recent-activity">
        <span class="card-title">
          <i class="material-icons left">access_time</i> Recent Activity
        </span>
        <table class="bordered striped">
          <thead>
          <tr>
            <th>Event Date</th>
            <th>Event Details</th>
          </tr>
          </thead>
          <tbody>
          {% for event in user.events.all|slice:":50" %}
            <tr>
              <td>{{ event.created|date:"H:i, D, j N Y" }}</td>
              <td>{{ event.get_log_message|safe }}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="center-align" colspan="2">
                You don't have any recent events right now.
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
