{% extends 'base.html' %}
{% load static compile_static %}
{% block title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block body_class %}homepage{% endblock body_class %}
{% block extra_css %}
  <link href="{% static 'less/homepage.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_KEY }}&libraries=places"></script>
{% endblock extra_js %}
{% block content %}
  <div class="hero-wrap">
    <div class="hero" style="background-image:url('{{ settings.HOMEPAGE_BACKGROUND_IMAGE }}')">
      <div>
        <div>
          <h1>Are you feeling lucky?</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
              <p>Nullam tincidunt lectus ut nibh tincidunt, non vehicula purus bibendum. Maecenas pellentesque porta mauris, nec aliquet tortor porta condimentum. Nulla faucibus, metus vel varius fringilla, risus felis iaculis sapien, nec congue leo ligula vitae odio.</p>
              <p>Nam consectetur, dolor ac scelerisque pretium, nunc tellus elementum mi, quis euismod justo diam ut purus. Donec vel lobortis orci. Aenean orci dui, tincidunt eget lacus rhoncus, sagittis venenatis diam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'inc/desktop_search.html' with colours="grey darken-4" %}
  {% include 'inc/mobile_search.html' with colours="grey darken-4" %}
  <div class="container">

    {% if featured %}
      <div class="row homepage-section">
        <div class="col s12">
          <h5 class="section-header">Featured Experiences</h5>
          <div class="row">
            {% for auction in featured %}
              {% include 'auctions/inc/auction_card.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row homepage-section">
      <div class="valign-wrapper">
        <div class="col s6">
          <h5 class="section-header">Ending Soon</h5>
        </div>
        <div class="col s6">
          <div class="right-align">
            <a href="#" class="waves-effect waves-teal btn-flat">
              <i class="material-icons right">arrow_forward</i>View More
            </a>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="row">
          {% for auction in ending %}
            {% include 'auctions/inc/auction_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
