{% extends 'base.html' %}
{% load static compile_static %}
{% block title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block body_class %}homepage{% endblock body_class %}
{% block extra_css %}
  <link href="{% static 'less/homepage.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
  <div class="hero-wrap">
    <div class="hero" style="background-image:url('{{ settings.HOMEPAGE_BACKGROUND_IMAGE }}')">
      <div>
        <div>
          <h1>Are you feeling lucky?</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <div class="row">
            <div class="col s12 m8 offset-m2 l10 offset-l1">
              <p>Nullam tincidunt lectus ut nibh tincidunt, non vehicula purus bibendum. Maecenas pellentesque porta mauris, nec aliquet tortor porta condimentum. Nulla faucibus, metus vel varius fringilla, risus felis iaculis sapien, nec congue leo ligula vitae odio.</p>
              <p>Nam consectetur, dolor ac scelerisque pretium, nunc tellus elementum mi, quis euismod justo diam ut purus. Donec vel lobortis orci. Aenean orci dui, tincidunt eget lacus rhoncus, sagittis venenatis diam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'browse/inc/desktop_search.html' %}
  {% include 'browse/inc/mobile_search.html' %}

  <div style="height: 1000px">
  </div>
{% endblock content %}
