{% extends 'base.html' %}
{% load static compile_static %}
{% block title %}Get your occupancy numbers up today{% endblock title %}
{% block description %}Increase your occupancy and boost your revenue with {{ site.name }} auctions{% endblock description %}
{% block body_class %}provider-marketing{% endblock body_class %}
{% block extra_css %}
  <link href="{% static 'less/provider-marketing.less'|compile %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
  <div class="hero-wrap">
    <div class="hero" style="background-image:url('{{ settings.PROVIDER_BACKGROUND_IMAGE }}')">
      <div>
        <div>
          <h1>Increase Your Occupancy Today</h1>
          <h2>Powerful marketing and sales</h2>
          <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
              <p>
                Over 17 million unique visitors a month buy through auction sites in the UK, that is 1 in every 2
                people buying on-line.
              </p>
              <p>
                LuckyBreak have bought the power of 'gamified' buying through auctions to the luxury break market, so
                providers can both sell an amazing deal at auction as well as inspire existing and new customers to
                rebook direct on their own site.
              </p>
              <p>
                Once a client is engaged with luckyBreak they are 4 times more likely to click through to your own
                site and make a booking.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="crumbs">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="{% url 'browse:homepage' %}" class="breadcrumb">Home</a>
          <a href="{% url 'browse:provider-marketing' %}" class="breadcrumb">Start Listing</a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div clas="col s12">
        <p class="center hide-on-med-and-up">
          <a
            class="waves-effect waves-light btn btn-large green"
            href="{% url 'users:provider-signup' %}"
          >
            <i class="material-icons left">check_circle</i> Get Started
          </a>
        </p>
      </div>
      <div class="col s12 m8">
        <div class="row homepage-section">
          <div class="col s12">
            <h5 class="section-header">How it works</h5>
            <ul class="reasons">
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                Create a package (experience) through our quick and easy step-by-step process
              </li>
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                Start an auction for that experience
              </li>
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                Share the auction with your client base: email, twitter and facebook
              </li>
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                See the engagement through the bids coming in from both existing and new guests on the auction dashboard
              </li>
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                See those guests (old and new) click through to your own site and book a room
              </li>
              <li class="valign-wrapper">
                <i class="material-icons left">check_circle</i>
                Sell the package at auction while taking many of your own bookings inspired from the auction
              </li>
            </ul>
          </div>
        </div>
        <div class="row homepage-section">
          <div class="col s12">
            <h5 class="section-header">Reasons to join</h5>
            <p>
              <ul class="reasons">
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  The cheapest and most innovative marketing and sales platform
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  A new way to market to old customers
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  Inspire new customers
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  Promote amazing new deals and services
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  Price discovery
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  Data on number of guests who looked at your auction, how many bid, and how many clicked through to your site
                </li>
                <li class="valign-wrapper">
                  <i class="material-icons">check_circle</i>
                  Increase Your Occupancy Today!
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="row homepage-section">
          <div class="col s12">
            <h5 class="section-header">Terms & Conditions</h5>
            <p>
              Nullam tincidunt lectus ut nibh tincidunt, non vehicula purus bibendum. Maecenas pellentesque porta mauris, nec aliquet tortor porta condimentum. Nulla faucibus, metus vel varius fringilla, risus felis iaculis sapien, nec congue leo ligula vitae odio.
            </p>
          </div>
        </div>
      </div>
      {% include 'browse/inc/get_started_panel.html' %}
    </div>

  </div>

{% endblock content %}
